.private__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.private__list-block {
  position: relative;
}
.private__list-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}