.about {
  padding: 70px 0 0 0;

  // .about__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    align-items: center;

    @media (max-width: 1080px) {
    grid-template-columns:  1fr;
    gap: 30px;
      
    }
  }

  // .about__content

  &__content {
    max-width: 480px;
  }
}

.about__img {
  position: relative;

  &::before {
    position: absolute;
    content: "";

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.3) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
