.faq {
  padding: 70px 0 0 0;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__list-item {
    border-bottom: 1px solid #2a2a2a;
    padding: 26px 14px;
    cursor: pointer;
    transition: 0.3s ease;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: #fff;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
      }
    }

    .bottom {
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
      
      p {
        padding-top: 16px;
        font-size: 14px;
        color: #cdcdcd;
        line-height: 145%;
        max-width: 720px;
      }
    }

    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}