.hero {
  height: 100vh;

  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  position: relative;

  &::before {
    position: absolute;
    content: "";

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.3) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  // .hero__content

  &__content {
    max-width: 520px;

    position: absolute;
    bottom: 40px;
    z-index: 10;
  }

  // .hero__content-muted

  &__content-muted {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #71717a;

    margin-bottom: 10px;
  }

  // .hero__content-title

  &__content-title {
    font-weight: 300;
    font-size: clamp(2rem, 0.24rem + 6.4vw, 6rem);
    line-height: 125%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 440px) {
      font-size: 40px;
    }
  }

  // .hero__content-subtitle

  &__content-subtitle {
    font-weight: 300;
    font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
    line-height: 140%;
    color: #a1a1aa;

    margin: 12px 0 20px 0;
  }
}
