@import './reset.scss';
@import './animation.scss';
@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './private.scss';
@import './video.scss';
@import './why.scss';
@import './faq.scss';
@import './footer.scss';