.video {
  padding: 70px 0 0 0;
  // .video__inner

  &__inner {
    .title,
    .muted {
      text-align: center;
    }
  }

  // .video__content

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    margin-top: 40px;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 440px) {
      grid-template-columns: 1fr;
    }
  }

  // .video__content-block

  &__content-block {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);

    padding: 24px;
  }

  // .video__content-icon

  &__content-icon {
    border-radius: 9999px;
    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.05);
  }

  // .video__content-title

  &__content-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #fff;

    margin-top: 20px;
  }

  // .video__content-subtitle

  &__content-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #71717a;
    margin: 14px 0;

    max-width: 240px;
  }

  // .video__content-price

  &__content-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;

    color: greenyellow;
  }
}
